# template for the «.env» configuration file for autotests of Comaint backend

BACKEND_URL="http://localhost:9101"

# DB_HOST="localhost"
# DB_PORT=3306
# DB_DATABASE="db_comaint"
# DB_USER="comaint"
DB_PASSWORD="<CHANGE_VALUE>"

