<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # return a 404 error for MardDown request if file does not exists
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule \.md$ - [R=404,L]

  # serve immediatly if file exists
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # redirect all others requests to React index page
  RewriteRule ^ index.html [L]
</IfModule>

