# template for the «.env» configuration file of Comaint backend

PORT=9101

DB_HOST=localhost
DB_NAME=db_comaint
DB_USER=comaint 
DB_PASSWORD=<CHANGE_VALUE>

# connection retry loop parameters :
# DB_RETRY_INTERVAL = 10  # seconds
# DB_MAX_RETRIES = -1     # -1:infinity

TOKEN_SECRET="<TOKEN_SECRET>"
#TOKEN_HASH_SALT=10
#REFRESH_TOKEN_LIFESPAN=365 # days
#ACCESS_TOKEN_LIFESPAN=120 # seconds
