# template for the «.env» configuration file of Comaint backend

PORT=9101

DB_HOST=localhost
DB_NAME=db_comaint
DB_USER=comaint 
DB_PASSWORD="<CHANGE_VALUE>"

# connection retry loop parameters :
# DB_RETRY_INTERVAL = 10  # seconds
# DB_MAX_RETRIES = -1     # -1:infinity

TOKEN_SECRET="<TOKEN_SECRET>"
#REFRESH_TOKEN_LIFESPAN=365 # days
#ACCESS_TOKEN_LIFESPAN=120 # seconds
#HASH_SALT=10
#CODE_VALIDITY_PERIOD = 600 # seconds
#MAX_AUTH_ATTEMPTS = 5

# Mail server parameters
#MAIL_SERVER_HOST = "localhost"
#MAIL_SERVER_PORT = 25
#MAIL_SERVER_USER = "comaint"
MAIL_SERVER_PASSWORD = "<CHANGE_VALUE>"
MAIL_SERVER_FROM = "\"No reply\" <noreply@<CHANGE_VALUE>>"

