div.popup-stack {
    pointer-events: none; /* popup stack must not respond to click */
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 50%;
    min-width: 15rem;
    top:10%;
    height: 80%;
    right:10%;

    & > div{
        pointer-events: auto; /* popup (with close button) must respond to click */
        border: solid black 1px;
        border-radius: 5px;
        margin: 1rem;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 0.5rem 0.25rem hsl(0 0% 0% / 60%);
        color: white;
        background-color: black;
    }
    & > div > div:last-child{
        padding-top: 1.5rem;
        display: flex;
        justify-content: center;
    }

    button {
        min-width: 5rem; /* TODO hard coded min button size */
        min-height: 3rem; /* TODO hard coded min button size */
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

div.bubble-message {
    padding: 1rem;
    position: absolute;
    max-width: 40%;
    bottom:15rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem 0.25rem hsl(0 0% 0% / 60%);
    color: white;
    background-color: black;
}

dialog.standard-dialog {
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;
    margin: auto; /* horizontal and vertical center of the dialog box */
    padding: 1rem;
    border: 0;
    border-radius: 0.5rem;

    &::backdrop {
        background: hsl(0 0% 0% / 70%);
    }

    /* dialog content */
    & > div:first-child { 
        padding: 1rem;
    }

    /* button bar */
    & > div:last-child {
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 1rem;
        & > button {
            min-width: 6rem; /* TODO hard coded min button size */
            min-height: 4rem; /* TODO hard coded min button size */
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }

}

.input-container {
    display: flex;
    flex-direction: column;
    margin-top:0.4rem;
    margin-top:0.2rem;

}

.button-bar {
    display: flex;
    gap:1rem;
    justify-content: center;
    margin: 1rem 0.3rem;
}

.button-bar-right {
    display: flex;
    gap:1rem;
    justify-content: end;
    margin: 1rem 0.3rem;
}

