@use './variables';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');


:root {
    --font-size-huge   : 3rem;
    --font-size-larger : 2.5rem;
    --font-size-large  : 2rem;
    --font-size-bigger : 1.7rem;
    --font-size-medium : 1.5rem;
    --font-size-small  : 1.3rem;
    --font-size-tiny   : 1.1rem;

    --marge-size-huge   : 1.2rem;
    --marge-size-large  : 0.7rem;
    --marge-size-medium : 0.3rem;
    --marge-size-small  : 0.2rem;
    --marge-size-tiny   : 0.1rem;

    --icon-size-huge   : 6rem;
    --icon-size-large  : 4rem;
    --icon-size-medium : 3rem;
    --icon-size-small  : 2rem;
    --icon-size-tiny   : 1rem;

    --global-color-0: #ffffff; /* white */
    --global-color-1: #104992; /* dark blue */
    --global-color-2: #72b6fe; /* light blue */
    --global-color-3: #000000; /* black */
    --global-color-4: #323232; /* dark gray*/
    --global-color-5: #de1c5b; /* red */
    --global-color-6: #102a4c; /* very dark blue*/
    --global-color-7: #5e81ad; /* background-color*/
}

html {  
    font-size: 62.5%; /* 1rem = 10 px */
    height:100%; /* to move footer at the bottom of the window */
}

body {
    height:100%; /* to move footer at the bottom of the window */
    font-family: 'Roboto', sans-serif;
    --banner-title-color: var(--global-color-0); /* white */
    --banner-subtitle-color: var(--global-color-2); /* light blue */
    --banner-text-color: var(--global-color-2); /* light-blue*/
    --banner-background-color: var(--global-color-1); /* dark blue */
    --banner-link-color: var(--global-color-2); /* light blue */
    --banner-link-hover-color: var(--global-color-2); /* light blue */
    --content-background-color: var(--global-color-0); /* white */
}
body.dark-theme {
    --banner-title-color: var(--global-color-0); /* white */
    --banner-subtitle-color: var(--global-color-2); /* light blue */
    --banner-text-color: var(--global-color-2); /* light-blue*/
    --banner-background-color: var(--global-color-6); /* dark blue -> very dark blue */
    --banner-link-color: var(--global-color-2); /* light blue */
    --banner-link-hover-color: var(--global-color-2); /* light blue */

    --bottom-color: var(--global-color-4);
    --content-background-color: yellow;
}

body.line-spacing-theme {
    line-height: 2;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--font-size-medium);
}

main {
    background-color:var(--content-background-color);
}

.orbitron-900 {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.error-message {
    color:var(--global-color-5);
    font-weight: bold;
}

#root {
    height: 100%; /* React container */
    display: grid;
    grid-template-columns: auto minmax(auto, variables.$max-page-width) auto;
    grid-template-rows: auto 1fr auto; /* header / content / footer */
    grid-template-areas: "header header header"
                         ".      main   ."
                         "footer footer footer";
    background-color: var(--global-color-7);

    & > header {
        grid-area: header;
    }
    
    & > main {
        grid-area: main;
        overflow: auto;
    }

    & > footer {
        grid-area: footer;
    }
}
