@use './variables';

header.root_header {

    --header-background-color: var(--global-color-1); /* dark blue */
    --header-title-color: var(--global-color-0); /* white */
    --header-subtitle-color: var(--global-color-2); /* blue */

    display: grid;
    grid-template-areas:
        "logo accessibility";
    grid-template-columns: auto 1fr;

    background-color: var(--header-background-color);
    padding: var(--marge-size-medium);

    /* size of logo and buttons */
    svg {
        max-width: var(--icon-size-medium);
        max-height: var(--icon-size-medium);
    }

    svg:first-of-type {
        grid-area: logo;
        margin-right: var(--marge-size-large);
    }

    h1 {
        display: none;

        color: var(--header-title-color);

        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        letter-spacing: var(--marge-size-medium);
    }
    h2 {
        display: none;
        color: var(--header-subtitle-color);
    }

    .accessibility-button {
        grid-area: accessibility;
        border: solid 1px var(--header-title-color);
        padding: var(--marge-size-large);
        border-radius: var(--marge-size-large);
    }


    @media (min-width: variables.$screen-size-small)  {

        grid-template-areas:
            "logo title    accessibility"
            "logo subtitle accessibility";
        grid-template-columns: auto 1fr;

        h1 {
            display: block;
            grid-area: title;
            align-self: end;
            font-size: var(--font-size-normal);
            letter-spacing: var(--marge-size-large);
        }

        h2 {
            display: block;
            align-self: start;
            grid-area: subtitle;
            font-size: var(--font-size-tiny);
        }
    }

    @media (min-width: variables.$screen-size-medium)  {
        svg {
            max-width: var(--icon-size-huge);
            max-height: var(--icon-size-huge);
        }
        h1 {
            font-size: var(--font-size-huge);
        }
        h2 {
            font-size: var(--font-size-normal);
        }
    }
}
